{% from 'utils.html' import render_field %}
{% extends 'base.html' %}

{% block body %}

Вы вошли через {{ current_user.oauth_app|capitalize }} как {{ current_user.name }}.
<a href="{{ url_for('users.logout') }}">Выйти</a>
<hr>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-error">
      {{ message }}
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form action="{{ url_for('core.create_file') }}" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Загрузить">
</form>

<hr>

<table>
  <thead>
    <tr>
      <th>Имя файла</th>
      <th>Ссылка на файл</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for file in current_user.files.all() %}
    <tr>
      <td>{{ file.name }}</td>
      <td><a href="{{ file.get_encoded_dropbucket_url()  }}">{{ file.get_dropbucket_url() }}</a></td>
      <td><a class="btn btn-small" href="{{ url_for('core.edit_file', id=file.id) }}"><i class="icon-edit"></i></a></td>
      <td><a class="btn btn-small" href="{{ url_for('core.remove_file', id=file.id) }}"><i class="icon-remove"></i></a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
